{% extends 'base.html' %} 

{% block head %} User Information {% endblock %} 

{% block content %}
<div class="container p-2 m-5">

<h6>{{users_account_info._id}}</h6>
<div class="row">

<div class="col-md-3">
    <h6><strong>Name</strong></h6><p>{{users_account_info.name}}</p> 
</div>
<div class="col-md-3">
    <h6><strong>Date of Birth</strong></h6><p>{{users_account_info.date_of_birth}}</p>
</div>
<div class="col-md-3">
    <h6><strong>Hobby</strong></h6><p>{{users_account_info.hobby}}</p>
</div>
<div class="col-md-3">
    <h6><strong>Favourite Movie</strong></h6><p>{{users_account_info.favourite_moive}}</p>
</div>


<div class="row">
    <div class="col-md-12">
        <a href="{{ url_for('signout') }}" class="btn btn-primary m-2 p-2">Signout</a>
        <a href="{{url_for('edit_user_info', users_id=users_account_info._id)}}" class="btn btn-primary m-2 p-2">Edit-infomration</a>
        <a href="{{url_for('delete_account', users_id=users_account_info._id)}}" class="btn btn-primary m-2 p-2">Delete information</a>
    </div>

</div>
{% endblock %}
